@charset 'utf-8';

/* header CSS */
#header {
  width: 100%;
  height: 100px;
  background-color: #55f;
  position: relative;

  position: fixed;
  z-index: 999;
}

#header:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #000;
}

#header .header-wrap {
  width: 100%;
  /* 여기서 최대 크기를 주는 대신 calc를 사용해서 양 쪽에 패딩을 줌. */
  /*   max-width: 154rem; */

  /* calc 사용 / 근데 왜 padding의 calc를 사용해서 적용했을까? */
  padding: 0 calc((100% - 1720px) / 2);
  height: 100%;
  background-color: #5f5;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .header-wrap .logo-box {
  width: 10.6rem;
  height: 2rem;
}

#header .header-wrap .logo-box .logo {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/c.png) no-repeat 0 0 / contain;
}

#header .header-wrap > div {
  display: flex;
  height: 100%;
  gap: 15rem;
}

#header .header-wrap > .gnb > #nav {
}

#header .header-wrap > .gnb > #nav > ul {
  display: flex;
  align-items: center;

  /* 전체 부모에게 크기 */
  height: 100%;
}

#header .header-wrap > .gnb > #nav ul > li {
  /* 패딩보다 크기로 줌 */
  height: 100%;
  width: 16.6rem;

  color: #fff;
  text-align: center;

  display: flex;

  /* 서브메뉴들의 부모가 될 수 있게. */
  position: relative;
}

#header .header-wrap > .gnb > #nav > ul > .brand-menu {
  color: #c30d23;
}

#header .header-wrap > .gnb > #nav > ul > li > a {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

#header .header-wrap > .gnb > .util-menu {
  display: flex;
  align-items: center;
  gap: 15rem;
}

#header .header-wrap > .gnb > .util-menu .lang-btn-wrap {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  /* 버튼의 클릭 크기(영역) 주기 */
  width: 8rem;
  gap: 6px;
}

#header .header-wrap .gnb .util-menu .lang-btn-wrap .lang-btn {
  font-size: 1.4rem;
  font-weight: 700;
}

#header .header-wrap .util-menu .lang-btn-wrap .lang-arrow-white {
  opacity: 1;
}

#header .header-wrap .util-menu .lang-btn-wrap .lang-arrow-black {
  opacity: 0;
}

#header .header-wrap .util-menu .lang-btn-wrap figure {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
}

#header .header-wrap .util-menu .lang-btn-wrap figure img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

#header .header-wrap > .header-nav-mo {
  display: none;
  position: fixed;
}

/* section - visual CSS */
.visual-sect {
  width: 100%;
  height: 100vh;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

/* 처음 섹션 배경은 배경 오버레이 X */
.visual-sect .visual.wrap1 {
  width: 100%;
  height: 100%;
  background: url(../img/main-sec-bg1.png) no-repeat 0 0 / cover;
  transition: transform 0.4s;

  /* 배경 스케일 효과 */
}

.visual-sect .visual.wrap2 {
  width: 100%;
  height: 100%;
  background: url(../img/main-sec-bg2.png) no-repeat 0 0 / cover;
  transition: transform 0.4s;

  /* 배경 스케일 효과 */
}

.visual-sect .visual.wrap3 {
  width: 100%;
  height: 100%;
  background: url(../img/main-sec-bg3.png) no-repeat 0 0 / cover;
  transition: transform 0.4s;

  /* 배경 스케일 효과 */
}

.visual-sect .visual.wrap4 {
  width: 100%;
  height: 100%;
  background: url(../img/main-sec-bg4.png) no-repeat 0 0 / cover;
  transition: transform 0.4s;

  /* 배경 스케일 효과 */
}

.visual-sect .visual .text-area {
  position: absolute;
  bottom: 35%;
  left: 10%;

  color: #fff;
}

.visual-sect .visual .text-area .main-tit {
  font-size: 8.4rem;
  font-weight: 600;

  line-height: 1.1;
}

.visual-sect .visual .text-area .main-tit .red-dot {
  color: #c30d23;
}

.visual-sect .visual .text-area .main-txt {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.24px;

  margin-top: 6rem;
}

.pagination-box {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 8%;
  left: 10%;
  gap: 2.8rem;
}

.pagination-box .pagi-cont {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pagination-box .pagi-cont .pagi-text {
  font-size: 1.7rem;
  font-weight: 500;
  color: #afafaf;
  transition: color 0.4s;
}

.pagination-box .pagi-cont:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 1.3rem;

  background-color: #afafaf;

  transition: background-color 0.3s;
}

.pagination-box .pagi-cont.active:before {
  opacity: 1;
  visibility: unset;

  background-color: #c30d23;
}

.pagination-box .pagi-cont.active .pagi-text {
  color: #fff;
}

.pagination-box .pagi-cont.active .paging {
  margin-left: 2.4rem;
  width: 12rem;
  height: 2px;
}

.pagination-box .pagi-cont .paging .progress {
  width: 100%;
  height: 2px;
  background-color: #afafaf;

  transition: width 0.4s;

  opacity: 0;
  visibility: hidden;
}

.pagination-box .pagi-cont.active .paging .progress {
  opacity: 1;
  visibility: unset;
}

.pagination-box .pagi-cont .paging .progress .bar {
  width: 50%;
  height: 2px;
  background-color: #fff;
}

/* swiper-slide 첫번째 화면 뺴고 안보이게  */
.visual-sect .swiper .swiper-wrapper .swiper-slide + .swiper-slide {
  display: none;
}
/* section - visual CSS */

/* section2 - start */
/* 최대 넓이 1520px */
.main-sec2 {
  position: relative;
  padding: 12.5rem 0;
}

/* 텍스트가 보여지는 부분에서는 height를 고정으로 사용해야한다. */
/* height를 auto/100% 자동적으로 계산으로 사용하는 것으로 한다면 글자가 틀어질 수 있다. (텍스트가 잘리는 현상.) */
.main-sec2 .sec2-text-area {
  position: relative;
  width: 100%;
  height: 45rem;
  /*   background-color: #55f; */

  word-break: keep-all;
  overflow: hidden;

  display: flex;
  align-items: center;
  padding-bottom: 11.2rem;
}

.main-sec2 .sec2-text-area .text-ani {
  display: flex;
  gap: 4rem;
}

.main-sec2 .sec2-text-area .text-slide-wrap {
  display: flex;
  width: 120%;
  height: 100%;
  overflow: hidden;
}

.main-sec2 .sec2-text-area .text-slide-wrap-box {
  display: flex;
  flex-shrink: 0;

  transition: transform 0.4s;
  animation: rollingText 200s infinite linear;
}

.main-sec2 .sec2-text-area .text-ani p {
  font-size: 25rem;
  font-weight: 400;
  color: #000;
  word-break: keep-all;
}

.main-sec2 .sec2-text-area .text-ani > .img-ani {
  display: inline-block;
  width: 42rem;
  height: 24rem;

  background: url(../img/text-ani-img.png) no-repeat 0 0 / cover;
}

.main-sec2 .sec2-text-area .text-ani .red-dot {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #c30d23;
}

/* 텍스트 애니메이션 */
@keyframes rollingText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  1000% {
    transform: translateX(0);
  }
}

.sec-inner {
  width: 100%;
  max-width: 152rem;
  margin: 0 auto;
}

.main-sec2 .slogan-area {
  padding: 6.5rem 0;
  border-top: 1px solid #000;
}

.slogan-area .top-slogan {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.slogan-area .top-slogan .icon-arrow {
  width: 5.4rem;
  height: 5.4rem;
  background: url(../img/sec2-arrow.png) 0 0 / cover;
  /* 반복적으로 사용하기 위해서는 infinite를 사용. */
  animation: moveArrow 2s infinite ease-in-out;
  transition: transform 0.4s;
}

/* 화살표 애니메이션 */
@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.slogan-area .top-slogan .left-text-area {
  display: flex;
  align-items: flex-start;
}

.slogan-area .top-slogan .left-text-area .title {
  font-size: 2rem;
  font-weight: 700;
  color: #c30d23;
  line-height: 1.4;
  margin-right: 8.4rem;
}

.slogan-area .top-slogan .left-text-area .text {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}

.slogan-area .bottom-slogan {
  margin-top: 15rem;
}

.slogan-area .bottom-slogan .slogan {
  font-size: 4.5rem;
  font-weight: 700;
  color: #000;
  line-height: 1.5;
}
/* section2 - end */

/* section3 - start */

.main-sec3 .tab-area {
  display: flex;
  justify-content: space-between;
  padding: 9rem 0;
}

.main-sec3 .tab-area .right-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-sec3 .tab-area .right-area .tab-text-area {
  position: relative;
}

.tab-text-area .title-num {
  font-size: 18rem;
  font-weight: 400;
  color: #dfdfdf;
}

.tab-text-area .tab-text-cont {
  transform: translate(20px, -40px);
}

.tab-text-area .tab-title {
  font-size: 4rem;
  font-weight: 700;
  color: #000;
}

.tab-text-area .tab-txt {
  font-size: 1.7rem;
  font-weight: 600;
  color: #000;
  line-height: 1.7;
  margin-top: 5.2rem;
}

.tab-area .tab-menu {
}

.tab-area .tab-menu .tab-list {
  display: flex;
  align-items: center;

  gap: 11rem;
}

.tab-area .tab-menu .tab-list > li {
}

.tab-area .tab-menu .tab-list > li > a {
  display: flex;
  flex-direction: column;
}

.tab-area .tab-menu .tab-list > li > a .tab-top {
  position: relative;
}

.tab-area .tab-menu .tab-list > li > a .tab-top:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20.7rem;
  height: 1px;

  background-color: #a3a3a3;
}

.tab-area .tab-menu .tab-list > li > a .tab-top h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #a3a3a3;
  padding-bottom: 3.6rem;
}

.tab-area .tab-menu .tab-list > li > a .tab-bottom p {
  margin-top: 4rem;
  font-size: 1.7rem;
  font-weight: 600;

  /* 탭이 활성화 됐을 때 컬러 */
  color: #515151;

  /* 비활성화 컬러 */
  color: #a3a3a3;

  line-height: 1.5;
}

.main-sec3 .tab-area .left-area {
}

.main-sec3 .tab-area .left-area .tab-img-area {
}

.main-sec3 .tab-area .left-area .tab-img-area .img-list {
}

.tab-area .left-area .tab-img-area .img-list .slogan-list-img.tab-img1 {
  width: 60rem;
  height: 69rem;

  background-color: #ff5;

  border-radius: 2rem;
}

.tab-area .left-area .tab-img-area .img-list .slogan-list-img.tab-img2,
.tab-area .left-area .tab-img-area .img-list .slogan-list-img.tab-img3 {
  display: none;
}

.img-list .slogan-list-img figure {
  width: 100%;
  height: 100%;
}

.img-list .slogan-list-img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section3 - end */
