@charset 'utf-8';

/* header CSS */
#header {
  width: 100%;
  height: 100px;
  background-color: #55f;
  position: relative;

  position: fixed;
  z-index: 999;
}

#header:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #000;
}

#header .header-wrap {
  width: 100%;
  max-width: 154rem;
  height: 10rem;
  background-color: #5f5;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .header-wrap .logo-box {
  width: 10.6rem;
  height: 2rem;
}

#header .header-wrap .logo-box .logo {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/c.png) no-repeat 0 0 / contain;
}

#header .header-wrap .gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  gap: 15rem;
}

#header .header-wrap .gnb #nav {
}

#header .header-wrap .gnb #nav ul {
  display: flex;
  align-items: center;

  /* 전체 부모에게 크기 */
  height: 10rem;
}

#header .header-wrap .gnb #nav ul > li {
  /* 패딩보다 크기로 줌 */
  width: 100%;
  height: 100%;
  min-width: 16.6rem;

  text-align: center;
  color: #fff;

  display: flex;
}

#header .header-wrap .gnb #nav ul > .brand-menu {
  color: #c30d23;
}

#header .header-wrap .gnb #nav ul > li > a {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

#header .header-wrap .gnb .util-menu {
  display: flex;
  align-items: center;
}

#header .header-wrap .gnb .util-menu .lang-btn-wrap {
  color: #fff;
  display: flex;
  align-items: center;
}

#header .header-wrap .gnb .util-menu .lang-btn-wrap .lang-btn {
  font-size: 1.4rem;
  font-weight: 700;
}

#header .header-wrap .util-menu .lang-btn-wrap .lang-arrow-white {
  opacity: 1;
}

#header .header-wrap .util-menu .lang-btn-wrap .lang-arrow-black {
  opacity: 0;
}

#header .header-wrap .util-menu .lang-btn-wrap figure {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 1.2rem;
}

#header .header-wrap .util-menu .lang-btn-wrap figure img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

/* section - visual CSS */
.visual-sect {
  width: 100%;
  height: 100vh;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

/* 처음 섹션 배경은 배경 오버레이 X */
.visual-sect .visual.wrap1 {
  width: 100%;
  height: 100%;
  background: url(../img/main-sec-bg1.png) no-repeat 0 0 / cover;
  transition: transform 0.4s;

  /* 배경 스케일 효과 */
}

.visual-sect .visual.wrap1 .text-area {
  position: absolute;
  bottom: 35%;
  left: 10%;

  color: #fff;
}

.visual-sect .visual.wrap1 .text-area .main-tit {
  font-size: 8.4rem;
  font-weight: 600;

  line-height: 1.1;
}

.visual-sect .visual.wrap1 .text-area .main-tit .red-dot {
  color: #c30d23;
}

.visual-sect .visual.wrap1 .text-area .main-txt {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.24px;

  margin-top: 6rem;
}

.pagination-box {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 8%;
  left: 10%;
  gap: 2.8rem;
}

.pagination-box .pagi-cont {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pagination-box .pagi-cont .pagi-text {
  font-size: 1.7rem;
  font-weight: 500;
  color: #afafaf;
  transition: color 0.4s;
}

.pagination-box .pagi-cont:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 1.3rem;

  background-color: #afafaf;

  transition: background-color 0.3s;
}

.pagination-box .pagi-cont.active:before {
  opacity: 1;
  visibility: unset;

  background-color: #c30d23;
}

.pagination-box .pagi-cont.active .pagi-text {
  color: #fff;
}

.pagination-box .pagi-cont.active .paging {
  margin-left: 2.4rem;
  width: 12rem;
  height: 2px;
}

.pagination-box .pagi-cont .paging .progress {
  width: 100%;
  height: 2px;
  background-color: #afafaf;

  transition: width 0.4s;

  opacity: 0;
  visibility: hidden;
}

.pagination-box .pagi-cont.active .paging .progress {
  opacity: 1;
  visibility: unset;
}

.pagination-box .pagi-cont .paging .progress .bar {
  width: 50%;
  height: 2px;
  background-color: #fff;
}
/* section - visual CSS */
